*.ipr
*.iml
.idea/
*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/*.sha1
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
web-app/META-INF/context.xml
/target-eclipse/
/classes/
.classpath
.project
publishLocally.sh
/bin
